---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
import SocialPill from '../components/SocialPill.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'

import BriefCase from '../icons/ExperienceIcon.astro'
import GithubIcon from '../icons/Github.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import EmailIcon from '../icons/MailIcon.astro'
import Experience from '../components/Experience.astro'
import WorkIcon from '../icons/WorkExperience.astro'
---

<Layout>
    <main class='px-4'>
        <SectionContainer class='mb-8 py-44'>
            <img
                class='rounded-full size-12 mb-4'
                src='https://png.pngtree.com/png-clipart/20200224/original/pngtree-cartoon-color-simple-male-avatar-png-image_5230557.jpg'
                alt='foto'
            />

            <h1
                class='text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10'
            >
                Hey , Im User <a
                    href='*'
                    target='_blank'
                    rel='noopener'
                    class='flex justify-center items-center'
                >
                    <Badge>Disponible FullTime</Badge>
                </a>
            </h1>
            <h2 class='text-xl lg:text-xl text-wrap max-w-[700px]'>
                <span class='opacity-80'>Lorem ipsum dolor</span> sit amet Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa cumque
                reiciendis veniam eum, aut quam, nihil vero odio quo nam eaque eveniet.
                <span class='text-yellow-200/90'
                    >Tempore unde commodi blanditiis provident mollitia? Eos.</span
                >
            </h2>

            <nav class='flex gap-4 mt-8 flex-wrap'>
                <SocialPill
                    href='https://github.com/torres-jp?tab=repositories'
                >
                    <GithubIcon class='size-4 md:size-6' />
                    Github
                </SocialPill>

                <SocialPill href='*'>
                    <LinkedInIcon class='size-4 md:size-6' />
                    LinkedIn
                </SocialPill>

                <SocialPill href='email@example.com'>
                    <EmailIcon class='size-4 md:size-6' />
                    email@example.com
                </SocialPill>
            </nav>
        </SectionContainer>

        <SectionContainer id='experience'>
            <h2 class='text-2xl font-semibold mb-6 flex gap-x-3 items-center'>
                <BriefCase class='size-7' />
                Work Experience
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id='experience'>
            <h2 class='text-2xl font-semibold mb-6 flex gap-x-3 items-center'>
                <WorkIcon class='size-7' />
                Projects
            </h2>
            <Projects />
        </SectionContainer>
    </main>
</Layout>
